@use "ag-grid-community/styles" as ag;
@import "./overrides";

@include ag.grid-styles();

body {
  height: 100vh;
}

#root {
  height: 100vh;
  // min-height: 100%;
  display: flex;
  flex-direction: column;
}

#add-clienti {
  z-index: 1000;
  position: absolute;
  bottom: 70px;
  right: 30px;
}

.content {
  flex: 1;
}

.ag-theme-quartz-dark {
  --ag-foreground-color: rgb(255, 255, 255);
  --ag-background-color: rgb(44, 48, 52);
  --ag-header-foreground-color: rgb(255, 255, 255);
  --ag-header-background-color: rgb(33, 37, 41);
  --ag-odd-row-background-color: rgb(33, 37, 41);
  --ag-header-column-resize-handle-color: rgb(50, 50, 52);
  --ag-font-size: 15px;
  --ag-grid-size: 6px;
}
